/* GEIST MONO */

@font-face {
    font-family: "GeistMono-Regular";
    src: url("../fonts/GeistMono_nerd_font/GeistMonoNerdFont-Regular.woff2") format("woff2");
}

@font-face {
    font-family: "GeistMono-Medium";
    src: url("../fonts/GeistMono_nerd_font/GeistMonoNerdFont-Medium.woff2") format("woff2");
}

@font-face {
    font-family: "GeistMono-Light";
    src: url("../fonts/GeistMono_nerd_font/GeistMonoNerdFont-Light.woff2") format("woff2");
}


/* FIRA SANS */

@font-face {
    font-family: "FiraSans-Regular";
    src: url("../fonts/Fira_sans/FiraSans-Regular.woff2") format("woff2");
}

@font-face {
    font-family: "FiraSans-Medium";
    src: url("../fonts/Fira_sans/FiraSans-Medium.woff2") format("woff2");
}

@font-face {
    font-family: "FiraSans-Light";
    src: url("../fonts/Fira_sans/FiraSans-Light.woff2") format("woff2");
}